.main {
    background-image: url('../images/slider-banner.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-color: #071828;
}

.home-slider {
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px 0;
}

.text-overlay {
    display: flex;
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: #0718286c;
}